{% extends 'layout/base.html.twig' %}

{% block title %}NewsList{% endblock %}

{% block body %}
<div class="container mt-5">
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<h1>News Articles({{ pagination.getTotalItemCount }})</h1>

<div class="row">
    {% for news in pagination%}
    <div class="col col-md-4 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="{{news.picture}}" class="card-img-top" alt="Not Found">
            <div class="card-body">
              <h5 class="card-title">{{news.title}}</h5>
              <p> <b>Created Date: </b> <span class="text-success">{{ news.createdAt|date('Y-m-d') }}</span></p>
              <p> <b>Last Updated: </b> <span class="text-success">{{ news.updatedAt|date('Y-m-d') }}</span></p>
                <p> <b>Publish Date: </b> <span class="text-success">{{ news.addedAt|date('Y-m-d') }}</span></p>
              <p class="card-text">{{news.shortDescription}}</p>
              {%if is_granted('ROLE_ADMIN')%}
              <form method="post" action="{{ path('app_news_delete', {'id': news.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>
              {% endif%}
            </div>
          </div>
    </div>
    {%else%}
    <p> No data Found!</p>
    {% endfor%}
</div>
<div class="d-flex justify-content-center mt-5 mb-5">
    {{ knp_pagination_render(pagination) }}
</div>
</div>
{% endblock %}
